<?xml version="1.0"?>

<configuration>

	<appSettings>
		<add key="SchemaExportMode" value="CREATE"/>
	</appSettings>

	<connectionStrings>
		<add name="SampleFrameworkDb" connectionString="Data Source=.\SQLExpress;AttachDBFilename=|DataDirectory|SampleFramework.mdf;Integrated Security=true;User Instance=true;"/>
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>

</configuration>
